extends main/page_default

block head
    title KAMI saw

block beforeBody
    -bodyClasses.push('front')

block header

block content
    section.container(style="padding: 50px;")
        ul
            li: a(href="./main.html") Главная
            li: a(href="./information.html") Сведения об образовательной организации
            li: a(href="./news.html") Новости
            li: a(href="./news-item.html") Новость
            li: a(href="./rules.html") Правила приема
            li: a(href="./docs.html") Документы для выпускников
            li: a(href="./employment.html") Трудоустройство
            li: a(href="./structure.html") Структура организации
            li: a(href="./contacts.html") Контакты



block footer

