extends main/page_default

block head
    title ЦТО KAMI

block content
    .page.page_inner
        .container
            +breadcrumbs(['Новости', '«ИНДУСТРИЯ КАМНЯ 2022»'])
            // Область заголовка по макету отличается от остальных страниц, пришлось добавить обёртку :-(
            .page__inner-head
                h1.page__title Ассоциация «КАМИ» приглашает вас на выставку «ИНДУСТРИЯ КАМНЯ 2022»
                .page__date 01 июня 2022
            main.page__content
                article.article
                    .article__img
                        // сюда детальную картинку + подпись
                        img(src="img/content/img_article.jpg", alt="имя новости")
                        span 22-я Международная выставка «Индустрия Камня 2022»<br>г. Москва, ВДНХ, павильон 57, стенд 1D32<br>28 - 30 июня
                    .article__body.typography
                        h5 Уважаемые камнеобработчики!
                        p Мы приглашаем вас на 22-ю международную выставку «ИНДУСТРИЯ КАМНЯ». В связи с кардинальными изменениями, произошедшими в этом году в камнеобрабатывающей отрасли и мире в целом, посещение выставки в этом году как никогда актуально.
                        p Резкий разворот в сторону Китая во всех сегментах рынка заставил многие компании кардинально изменить свою работу. Посетив данную выставку Вы сможете узнать самую актуальную информацию обо всех изменениях, случившихся в отрасли.
                        p В этом году мы будем ждать вас на стенде 1D32, где впервые будет представлен 5-осевой станок для раскроя камня DENVER FORMULA ELITE. Премьера данного станка состоялась в 2019 году на выставке MARMOMAC в г. Вероне, а в 2021 году станок был обновлен как в плане дизайна, так и в плане функционала.
                        p Станок специально разработан для резки керамогранита вплоть до самого тонкого толщиной 3 мм! Рынок керамогранита в России постоянно растет и данный станок позволит вам в полной мере соответствовать требованиям рынка.
                        p Подробнее о станке вы сможете узнать у наших специалистов у стенда 1D32<br>Также, на улице будет демонстрироваться не менее популярный станок, уже успевший стать наиболее востребованным в своем сегменте - это 3-осевой станок для раскроя камня STONECUT 3.
                        br
                        br
                        br
                        h5 Исторически, компания КАМИ всегда сохраняла баланс между европейским и китайским оборудованием, предлагая клиентам широкий выбор станков.
                        p Богатейший опыт работы с китайскими поставщиками позволил нам в течение 3-х месяцев подготовить для вас комплект станков для всех нужд, а именно:
                        ul
                            li 7 моделей фрезерно-гравировальных станков BEAVER STONE;
                            li 3-осевой станок для раскроя камня STONECUT 3;
                            li 5-осевой станок для раскроя камня STONECUT 5;
                            li 4-осевой канатный станок для раскроя блоков DISCOVERY 4;
                            li Многодисковый станок для раскроя керамогранита;
                            li Многошпиндельный станок конвейерного типа для полировки кромки керамогранита, фрезеровки полос антискольжения, резки фаски под 45°;
                            li Полировальная линия для полировки слэбов из натурального камня;
                        p Все поставщики прошли жесткий технологический, конкурентный отбор.

        // в идеале - вытащить этот блок из общего контейнера, чтобы проще добавлялся серый фон. Если так совсем неудобно - напиши, накостылю
        section.front-block.front-block_gray.front-block_gray-after
            .container
                .front-block__title Другие новости
                .front-block__content
                    .news.news_slider.gallery
                        .swiper.js-gallery-4-items
                            .swiper-wrapper
                                .swiper-slide: a.news__item(href="#")
                                    .news__item-title Ассоциация «КАМИ» приглашает вас на выставку «ИНДУСТРИЯ КАМНЯ 2022»
                                    .news__item-text Мы приглашаем вас на 22-ю международную выставку «ИНДУСТРИЯ КАМНЯ». В связи с кардинальными изменениями, произошедшими в этом году в камнеобрабатывающей отрасли и мире в целом, посещение выставки в этом году как никогда актуально.
                                    .news__item-date 01 июня 2022
                                .swiper-slide: a.news__item(href="#")
                                    .news__item-title Ассоциация «КАМИ» приглашает
                                    .news__item-text Мы приглашаем вас на 22-ю международную выставку «ИНДУСТРИЯ КАМНЯ».
                                    .news__item-date 09 июня 2022
                                .swiper-slide: a.news__item(href="#")
                                    .news__item-title Ассоциация «КАМИ» приглашает вас на выставку «ИНДУСТРИЯ КАМНЯ 2022»
                                    .news__item-text Мы приглашаем вас на 22-ю международную выставку «ИНДУСТРИЯ КАМНЯ». В связи с кардинальными изменениями, произошедшими в этом году в камнеобрабатывающей отрасли и мире в целом, посещение выставки в этом году как никогда актуально.
                                    .news__item-date 01 июня 2022
                                .swiper-slide: a.news__item(href="#")
                                    .news__item-title Ассоциация «КАМИ» приглашает
                                    .news__item-text Мы приглашаем вас на 22-ю международную выставку «ИНДУСТРИЯ КАМНЯ».
                                    .news__item-date 09 июня 2022
                                .swiper-slide: a.news__item(href="#")
                                    .news__item-title Ассоциация «КАМИ» приглашает вас на выставку «ИНДУСТРИЯ КАМНЯ 2022»
                                    .news__item-text Мы приглашаем вас на 22-ю международную выставку «ИНДУСТРИЯ КАМНЯ». В связи с кардинальными изменениями, произошедшими в этом году в камнеобрабатывающей отрасли и мире в целом, посещение выставки в этом году как никогда актуально.
                                    .news__item-date 01 июня 2022
                                .swiper-slide: a.news__item(href="#")
                                    .news__item-title Ассоциация «КАМИ» приглашает
                                    .news__item-text Мы приглашаем вас на 22-ю международную выставку «ИНДУСТРИЯ КАМНЯ».
                                    .news__item-date 09 июня 2022

                            .swiper-controls
                                .swiper-button-prev
                                .swiper-pagination
                                .swiper-button-next