extends main/page_default

block head
    title ЦТО KAMI

block content
    .page.page_inner
        .container
            +breadcrumbs(['Правила приема'])
            h1.page__title Правила приема
            main.page__content
                article.article.typography
                    h5 1. Общие положения
                    p 1.1. Настоящие Правила приема обучающихся в «Учебный центр Общероссийского Профсоюза образования» (далее - Правила приема) регламентируют основные процедуры приема граждан Российской Федерации и иностранных граждан в «Учебный центр Общероссийского Профсоюза образования» (далее-Учебный центр) по дополнительным профессиональным программам повышения квалификации, программам профессиональной переподготовки, а также дополнительным общеобразовательным общеразвивающим программам.
                    p 1.2. Настоящие Правила приема разработаны на основании законодательства Российской Федерации в области образования, в том числе:
                    ul
                        li Федерального Закона Российской Федерации от 29.12.2012 г.No 273 - ФЗ «Об образовании в Российской Федерации»,
                        li Федерального закона от 27 июля 2006 г.No 152 - ФЗ «О персональных данных»;
                        li Порядка организации и осуществления образовательной деятельности по дополнительным общеобразовательным программам, утв.Приказом Минобрнауки России от 29.08.2013 г.No 1008;
                        li Порядка организации и осуществления образовательной деятельности по дополнительным профессиональным программам, утв.Приказом Министерства образования и науки Российской Федерации от 01.07.2013 г.No 499;
                        li Порядка организации и осуществления образовательной деятельности по основным программам профессионального обучения, утв.Приказом Министерства образования и науки Российской Федерации от 18.04.2013 г.No 292;
                        li Правил оказания платных образовательных услуг, утв.Постановлением Правительства Российской Федерации от 15.08.2013 No 706;
                        li Устава «Профессионального союза работников народного образования и науки Российской Федерации»
                        li Положения о структурном подразделении аппарата Профессионального союза работников народного образования и науки Российской Федерации «Учебного центра Общероссийского Профсоюза образования» и другими локальными актами Учебного центра
                    h5 2. Правила приема в Учебный центр.
                    p 2.1. Прием обучающихся происходит в течение всего календарного года.
                    p 2.2. Прием осуществляется на основании заявки от юридических лиц на обучение сотрудников или на основании заключенного договора между Заказчиком и Учебным центром. Заказчиком может выступать непосредственно физическое лицо, которое будет проходить обучение, либо юридическое лицо, заключившее договор на обучение в отношении своих работников, либо законный представитель обучающегося.
                    p 2.3. Прием на обучение в Учебный центр, осуществляющую образовательную деятельность, проводится на принципах равных условий приема для всех поступающих, за исключением лиц, которым в соответствии с Федеральным законом от 29 декабря 2012 года No 273-ФЗ «Об образовании в Российской Федерации» предоставлены особые права (преимущества) при приеме на обучение.
                    p 2.4. Условиями приема на обучение по основным программам профессионального повышения квалификации и программам дополнительного профессионального обучения должны быть гарантированы соблюдение права на образование и зачисление из числа поступающих, имеющих соответствующий уровень образования, наиболее способных и подготовленных к освоению образовательной программы соответствующего уровня и соответствующей направленности лиц.
                    h5 3. Основания приема в Учебный центр
                    p 3.1. Учебный центр вправе осуществлять образовательную деятельность на основе договора об образовании, заключаемого со слушателем и (или) с физическим или юридическим лицом, обязующимся оплатить обучение лица, зачисляемого на обучение, либо за счет бюджетных ассигнований федерального бюджета, бюджетов субъектов Российской Федерации.
                    p 3.2. На основании представленных документов директор издает приказ о зачислении в Учебный центр.
                    p 3.3. В случае приема на обучение за счет средств физических и (или) юридических лиц изданию приказа о зачислении на обучение в Учебный центр предшествует заключение договора об образовании.
                    p 3.4. Учебный центр до заключения договора предоставляет обучающимся достоверную информацию, содержащую следующие сведения:<br>
                        | а) наименование образовательной организации, сведения о наличии лицензии на право ведения образовательной деятельности с указанием регистрационного номера и срока действия, а также наименования органа, её выдавшего;<br>
                        | б) сведения об образовательных программах, формах и сроках их освоения;<br>
                        | в) стоимость образовательных услуг и порядок их оплаты;<br>
                        | г) форма документа, выдаваемого по окончании обучения.
                    p 3.5. Учебный центр предоставляет для ознакомления по требованию обучающегося:<br>
                        | а) Положение о структурном подразделении аппарата Профессионального союза работников народного образования и науки Российской Федерации «Учебный центр Общероссийского Профсоюза образования»;<br>
                        | б) лицензию на осуществление образовательной деятельности и локальные нормативные акты, регламентирующие организацию образовательного процесса в Учебном центре;<br>
                        | в) образцы договоров, в том числе об оказании платных образовательных услуг.
                    p 3.6. Информация, указанная в пунктах 3.4, 3.5, доводится обучающемуся на русском языке и размещается на официальном сайте «Профессионального союза работников народного образования и науки Российской Федерации».
                    p 3.7. Документы, необходимые для зачисления на дополнительные общеобразовательные общеразвивающие программы:
                    ul
                        li заявка на обучение(от физического / юридического лица);
                        li копия паспорта(или паспортные данные);
                        li иные документы, требуемые исходя из специфики программы.
                    p 3.8. Документы, необходимые для зачисления на программы профессионального обучения:
                    ul
                        li заявка на обучение(от физического / юридического лица); -копия документа об уровне образования;
                        li копия паспорта;
                        li 1 фотография 3 * 4;
                        li иные документы, требуемые исходя из специфики программы.
                    p 3.9. Зачисление на обучение в Учебный центр производится приказом Директора.
                    h5 4. Заключительные положения.
                    p 4.1. Правила вступают в силу с момента утверждения Директором.
                    p 4.2. Настоящие Правила действуют до момента принятия нового локального акта, регламентирующего вопросы, указанные в п. 1.1.