html {
  box-sizing: border-box;
  min-width: 300px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: $font_base;
  color: $color_base;
  overflow-x: hidden;
  scroll-behavior: smooth;
  line-height: 1.285;
  min-height: 100vh;
  font-weight: 500;

  @media screen and (max-width: 1350px) {
    padding-top: 0;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::selection {
  background-color: rgba($color_accent, .7);
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #7D7D7D;
  transition: color .25s;

  &:hover {
    text-decoration: underline;
    color: $color_accent;
  }
}

b, strong {
  font-weight: 700;
}

.container {
  max-width: $container;
  padding-left: $containerPadding;
  padding-right: $containerPadding;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 414px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.btn {
  display: inline-block;
  transition: all .35s;
  text-decoration: none;
  border: 0;
  background-color: transparent;
  padding: 0;
  text-align: center;
  cursor: pointer;
  user-select: none;

  &:hover {
    text-decoration: none;
  }

  &_main {
    font-weight: 700;
    padding: 18px 20px;
    background-color: $color_accent_2;
    color: #ffffff;
    border-radius: 2px;

    &:hover {
      background-color: lighten($color_accent_2, 6%);
      color: #ffffff;
    }

    &:active {
      background-color: darken($color_accent_2, 6%);
    }
  }

  &_round {
    border-radius: 40px;
  }

  &_light {
    font-weight: 700;
    padding: 18px 20px;
    color: #ffffff;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.39);
    backdrop-filter: blur(8px);

    &:hover {
      background-color: rgba(255, 255, 255, 0.29);
      color: #ffffff;
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.49);
    }
  }

  &_accent-2 {
    background-color: $color_accent_2;
    color: #ffffff;

    &:hover {
      background-color: #1B7164;
      color: #ffffff;
    }

    &:active {
      background-color: #19675B;
    }
  }

  &_icon {
    display: inline-flex;
    align-items: center;

    &::after {
      content: '';
      display: inline-block;
      margin-left: 1em;
      vertical-align: middle;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }
  }

  &_icon-chevron {
    &::after {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAALCAMAAABrjAykAAAAG1BMVEUAAAD////////////////////////////////rTT7CAAAACXRSTlMAECBff4+foN+9JnQmAAAAHklEQVR42mNgZAADVjYIzY6D5mCG8NBJFog8E5gEABFkAHJeYZHTAAAAAElFTkSuQmCC);
      width: 5px;
      height: 10px;
    }
  }

  &_icon-expand {
    &::after {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAPCAMAAADNjy/UAAAAD1BMVEUAAAD///////////////+PQt5oAAAABHRSTlMAIHDfso2WyQAAAEBJREFUeNqFzYEGwAAIhOGq3v+Zt8KJfluIu4+yzwmn1uOVSgfJ6gXWpaGp2rYFTJHD/wl6DCY5JrnGMjbCtuUB00oBHmEMTIcAAAAASUVORK5CYII=);
      width: 12px;
      height: 6px;
    }
  }

}

.front-slider {
  color: #ffffff;

  &__item {
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
    width: 100%;
    @media screen and (max-width: 414px) {
      display: flex;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.22) 59.76%, rgba(0, 0, 0, 0) 100%);
    }
  }

  &__content {
    min-height: 670px;
    padding: 25px 30px 45px;
    max-width: calc($container - 200px);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2;

    @media screen and (max-width: 1350px) {
      min-height: 550px;
    }

    @media screen and (max-width: 820px) {
      min-height: 350px;
    }

    @media screen and (max-width: 600px) {
      padding-top: 24px;
      padding-bottom: 50px;
      justify-content: flex-start;
    }
    @media screen and (max-width: 414px) {
      padding-left: 15px;
      padding-right: 15px;
      min-height: unset;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 40px;

    @media screen and (max-width: 1050px) {
      font-size: 34px;
    }

    @media screen and (max-width: 820px) {
      font-size: 28px;
    }

    @media screen and (max-width: 600px) {
      font-size: 20px;
    }
  }

  &__description {
    margin-top: 0;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 58px;
    max-width: 720px;

    @media screen and (max-width: 1050px) {
      font-size: 18px;
      margin-bottom: 48px;
    }

    @media screen and (max-width: 820px) {
      font-size: 16px;
      margin-bottom: 32px;
    }
    @media screen and (max-width: 600px) {
      margin-bottom: 56px;
    }
  }

  &__buttons {
    @media screen and (max-width: 600px) {
      align-self: center;
    }
    @media screen and (max-width: 414px) {
      margin-top: auto;
    }

    .btn {
      margin-right: 24px;
      vertical-align: middle;
      min-width: 240px;

      @media screen and (max-width: 600px) {
        display: block;
        margin-right: 0;
        margin-bottom: 16px;
      }

      &:last-child {
        margin-right: 0;
        @media screen and (max-width: 600px) {
          margin-bottom: 0;
        }
      }
    }
  }

  .swiper-slide {
    display: flex;
    @media screen and (max-width: 600px) {
      height: auto;
    }
  }

  .swiper-pagination {
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 600px) {
      bottom: 20px;
    }
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    opacity: 1;
    margin-left: 8px;
    margin-right: 8px;
    @media screen and (max-width: 600px) {
      width: 10px;
      height: 10px;
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: $color_accent_2;
  }
}

.front-block {
  padding-top: 70px;
  padding-bottom: 84px;

  @media screen and (max-width: 414px) {
    padding-top: 40px;
    padding-bottom: 44px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 40px;
    color: #272727;
    font-weight: 700;
    font-size: 30px;
    display: flex;
    align-items: center;

    @media screen and (max-width: 800px) {
      font-size: 26px;
    }

    @media screen and (max-width: 550px) {
      font-size: 20px;
      display: inline-block;
      position: relative;
    }

    @media screen and (max-width: 414px) {
      display: flex;
    }

    &::after {
      content: '';
      display: inline-block;
      height: 1px;
      width: 5px;
      background-color: #D6D6DF;
      flex-grow: 1;
      margin-left: 24px;

      @media screen and (max-width: 550px) {
        position: absolute;
        top: 50%;
        left: calc(100% + 24px);
        width: 600px;
        margin-left: 0;
      }
    }
  }

  &__title-link {
    display: inline-block;
    margin-left: 16px;
    color: #ffffff;
    background-color: $color_accent;
    padding: 6px 16px;
    border-radius: 34px;
    font-size: 16px;
    font-weight: 500;
    transition: background-color .35s;

    @media screen and (max-width: 414px) {
      margin-left: auto;
      font-size: 14px;
    }

    &:hover {
      color: #FFFFFF;
      text-decoration: none;
      background-color: lighten($color_accent, 6%);
    }

    &:active {
      background-color: darken($color_accent, 6%);
    }
  }

  &_gray {
    background-color: #F6F6F9;
  }

  &_gray-after {
    position: relative;
    &::after {
      content: '';
      display: block;
      background: #F6F6F9;
      width: 100%;
      position: absolute;
      top: 100%;
      height: 600px;
      left: 0;
      z-index: -1;
    }
  }

  &_noline {
    .front-block__title {
      &::after {
        content: none;
      }
    }
  }
}

.cards-list {

  ul {
    list-style: none;
    margin: 0 -15px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 1050px) {
      margin: 0;
    }
  }

  &__item {
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    border: 1px solid #D6D6DF;
    transition: all .45s;
    margin: 0 15px 30px;
    width: calc(50% - 30px);

    &:hover {
      border-color: transparent;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

      .cards-list__item-img-wrapper::after {
        opacity: 1;
      }
    }

    @media screen and (max-width: 1050px) {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

    @media screen and (max-width: 620px) {
      flex-direction: column;
      text-align: center;
      position: relative;
    }

    &-img-wrapper {
      width: 45%;
      flex-shrink: 0;
      position: relative;

      @media screen and (max-width: 1600px) {
        width: 260px;
      }

      @media screen and (max-width: 1350px) {
        width: 200px;
      }

      @media screen and (max-width: 1050px) {
        width: 320px;
      }

      @media screen and (max-width: 770px) {
        width: 240px;
      }

      @media screen and (max-width: 620px) {
        width: 100%;
        height: 194px;
      }

      img {
        display: block;
        border-radius: 10px 0 0 10px;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 50% 50%;

        @media screen and (max-width: 620px) {
          border-radius: 10px 10px 0 0;
        }
      }

      &::after {
        content: 'Выбрать';
        display: block;
        background: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(4px);
        border-radius: 2px;
        font-weight: 600;
        font-size: 18px;
        color: #272727;
        width: 90%;
        max-width: 200px;
        padding: 18px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        opacity: 0;
        transition: opacity .35s;

        @media screen and (max-width: 620px) {
          content: none;
        }
      }
    }

    &-content {
      padding: 25px 30px;

      @media screen and (max-width: 1200px) {
        padding: 18px 22px;
      }

      @media screen and (max-width: 1050px) {
        padding: 25px 30px;
      }

      @media screen and (max-width: 620px) {
        min-height: 124px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    &-labels {
      margin-left: -14px;
      margin-right: -14px;
      margin-bottom: 15px;
      @media screen and (max-width: 1200px) {
        margin-bottom: 6px;
      }
      @media screen and (max-width: 620px) {
        position: absolute;
        left: 50%;
        top: 97px;
        transform: translate(-50%, -50%);
        margin: 0;
        width: 240px;
      }
    }

    &-label {
      background: #F3F3F9;
      border-radius: 33px;
      font-weight: 400;
      font-size: 16px;
      color: #272727;
      text-align: center;
      padding: 5px 15px;
      display: inline-block;
      vertical-align: middle;
      margin: 0 7px 7px;

      @media screen and (max-width: 1200px) {
        font-size: 13px;
      }

      @media screen and (max-width: 1050px) {
        font-size: 15px;
      }

      &_red {
        color: #ffffff;
        background-color: $color_accent_2;
      }
    }

    &-name {
      font-weight: 600;
      font-size: 18px;
      color: #272727;

      @media screen and (max-width: 1200px) {
        font-size: 16px;
      }

      @media screen and (max-width: 1050px) {
        font-size: 18px;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__btn {
    display: none;

    @media screen and (max-width: 1050px) {
      display: block;
      background-color: $color_accent;
      color: #ffffff;
      text-align: center;
      font-weight: 600;
      font-size: 18px;
      border: 0;
      max-width: 360px;
      width: 100%;
      padding: 18px;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer;

      &::after {
        content: '';
        display: inline-block;
        width: 12px;
        height: 6px;
        margin-left: 9px;
        vertical-align: middle;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAPCAMAAADNjy/UAAAAElBMVEUAAAD///////////////////8+Uq06AAAABXRSTlMAMG9/7+nZ6N0AAABBSURBVHjafc0BBkBBCITh6e3u/a/8FEb0K6Tmo7TWF5TGkc67YHFfNrAMheaoWxePKLzsJ/gx2BDbFBtLGUtZlx8IHwFmQ3gPowAAAABJRU5ErkJggg==);
        transform: rotate(180deg);
        transition: transform .25s;
      }

      &:hover {
        background-color: lighten($color_accent, 6%);
      }

      &:active {
        background-color: darken($color_accent, 6%);
      }

      .cards-list_short &::after {
        transform: rotate(0);
      }
    }

    @media screen and (max-width: 414px) {
      margin-left: -15px;
      margin-right: -15px;
      width: calc(100% + 30px);
      max-width: unset;
    }
  }

  &_short {
    @media screen and (max-width: 1050px) {
      .cards-list__item {
        display: none;
      }
      .cards-list__item:nth-child(1),
      .cards-list__item:nth-child(2),
      .cards-list__item:nth-child(3) {
        display: flex;
      }
    }
  }
}

.faq {
  margin: 0 -16px;
  display: flex;

  @media screen and (max-width: 1100px) {
    display: block;
    margin: 0;
  }

  &__column {
    width: calc(50% - 32px);
    margin-left: 16px;
    margin-right: 16px;
    @media screen and (max-width: 1100px) {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__item {
    border-bottom: 1px solid #D6D6DF;
    border-top: 1px solid #D6D6DF;
    margin: -1px 0 0;

    &-head {
      display: flex;
      align-items: center;
      padding: 23px 25px;

      @media screen and (max-width: 700px) {
        padding-left: 15px;
        padding-right: 15px;
      }

      @media screen and (max-width: 550px) {
        padding-left: 0;
        padding-right: 0;
        padding-top: 12px;
        padding-bottom: 12px;
      }

      span {
        font-weight: 600;
        font-size: 18px;
        color: #272727;
        margin-right: 20px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        cursor: pointer;

        @media screen and (max-width: 550px) {
          font-size: 16px;
        }
      }

      button {
        margin-left: auto;
        width: 20px;
        height: 20px;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain;
        border: 0;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAMAAACf4xmcAAAABlBMVEUAAAALb7sX5EtCAAAAAXRSTlMAQObYZgAAACNJREFUeNpjwASMjIwYYnRVNqpsVBkjUYC6yoZuuI0qG1UGAIeaANyrth43AAAAAElFTkSuQmCC);
        cursor: pointer;
        flex-shrink: 0;
        transition: background-image .4s;
      }
    }

    &-body {
      padding-left: 25px;
      padding-bottom: 0;
      padding-right: 74px;
      max-height: 0;
      transform-origin: 50% 0;
      transform: scaleY(0);
      overflow: hidden;
      color: #272727;
      transition: all .45s;

      @media screen and (max-width: 700px) {
        padding-left: 15px;
        padding-right: 15px;
      }

      @media screen and (max-width: 550px) {
        padding-left: 0;
        padding-right: 0;
        font-size: 14px;
      }
    }

    &_show {
      .faq__item-body {
        padding-bottom: 23px;
        transform: scaleY(1);
        max-height: 400px;

        @media screen and (max-width: 550px) {
          padding-bottom: 14px;
        }
      }

      button {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADYAAAA2CAMAAAC7m5rvAAAAZlBMVEUAAADPz8/Pz8/T09PU1NTS0tLT09PR0dHU1NTV1dXT09PU1NTV1dXS0tLU1NTT09PV1dXT09PU1NTU1NTU1NTV1dXT09PU1NTU1NTW1tbX19fZ2dnk5OTn5+fp6en5+fn6+vr///8ZE99tAAAAGHRSTlMAECBAX2BvcHB/gJ+foKCvr7C/z9/f7+/X81tHAAABW0lEQVR42pXWhbLCMBSE4W1TxyvpXpz3f0hcQ5fk/qPIN3tGEAxlslHTkWRXzzODoMzI8iM78sqotByoTX6qzEFBMK5JXRt7pkR9MaRKeiu/1ZgBjbxKOH1h+J0ZgyteKrbhrI+frOWj9drr6odKX+pwGHar/ev54mtsd3DcU70930fOGFeue6r3pytnTDhHsb8oQwonFGkATCidUBwBsJROKPaAIaUTijTIqZxWLDCjclpxhJrSScUGHaXbKsUWpHZKkaB0QnnY3sO00g6dVpudci0aqdZcKVdjohWlWyDXSrsCRivtDGCV0q4HMFFKuxEAo5R2BgCsUNK1uFQJJV2CS9FzbvmuXLf+HAPygC/znTN2qfb/dPzRGfvnD5WN8SwPZwXeqkJVhY+mYWoK+J1S+k59oVtufyNbYLC4pY51DFUqoJryQFtF8GQm/j+9QmazuruIrhllg+YEXLTeG03xzSAAAAAASUVORK5CYII=);
      }
    }
  }
}

.cert-block {
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and (max-width: 550px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .container {
    display: flex;
    align-items: center;
    max-width: 1260px;

    @media screen and (max-width: 820px) {
      flex-direction: column;
    }
  }

  &__img {
    width: 400px;
    margin-right: 70px;
    position: relative;
    z-index: 2;
    flex-shrink: 0;

    @media screen and (max-width: 1090px) {
      width: 300px;
      margin-right: 40px;
    }

    @media screen and (max-width: 1000px) {
      align-self: flex-start;
    }
    @media screen and (max-width: 900px) {
      margin-right: 30px;
    }
    @media screen and (max-width: 820px) {
      margin-right: 0;
      align-self: center;
      max-width: 300px;
      width: 100%;
    }

    @media screen and (max-width: 550px) {
      max-width: 230px;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__content {
    @media screen and (max-width: 820px) {
      margin-top: -16px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 30px;
    display: inline-block;
    padding-right: 70px;
    position: relative;
    padding-top: 14px;
    padding-bottom: 14px;

    @media screen and (max-width: 1090px) {
      font-size: 24px;
      margin-bottom: 20px;
    }

    @media screen and (max-width: 820px) {
      display: block;
      width: 100%;
      text-align: center;
      padding-right: 0;
      z-index: 2;
      br {
        display: none;
      }
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      width: calc(100% + 80px);
      top: 0;
      right: 0;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjE1IiBoZWlnaHQ9IjEwOSIgdmlld0JveD0iMCAwIDYxNSAxMDkiIGZpbGw9Im5vbmUiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0wIDBINjE1TDU4MS41IDEwOUgwVjBaIiBmaWxsPSIjMEI2RkJCIi8+CjxwYXRoIGQ9Ik00LjUgNi41SDYwNS4zMjRMNTc2LjI3IDEwMS41SDQuNVY2LjVaIiBzdHJva2U9IndoaXRlIiBzdHJva2Utb3BhY2l0eT0iMC4zIi8+Cjwvc3ZnPgo=);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      z-index: 1;

      @media screen and (max-width: 820px) {
        width: calc(100% + 200px);
        right: auto;
        left: -50px;
      }
    }

    span {
      position: relative;
      z-index: 2;
    }
  }

  &__text {
    color: #272727;

    p {
      margin-top: 0;
      margin-bottom: 25px;
    }

    ul {
      list-style: none;
      margin: 0 0 25px;
      padding: 0;
    }

    li {
      padding-left: 30px;
      position: relative;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $color_accent;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -5px;
      }
    }

    *:last-child {
      margin-bottom: 0;
    }
  }
}

.teachers {
  color: #0E0E0E;

  &__item {
    &-name {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 12px;
    }

    &-position {
      font-weight: 400;
      font-size: 16px;
      margin-bottom: 26px;
    }

    &-img {
      position: relative;
      height: 400px;
      border-radius: 10px;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-width: 22px;
        border-style: solid;
        border-color: $color_accent_2 transparent transparent $color_accent_2;
        border-radius: 10px 0 0 0;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }
}

.gallery {

  .swiper-controls {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: static;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid #0E0E0E;
    transform: none;
    margin-top: 0;
    margin-left: 16px;
    margin-right: 16px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 8px auto;

    &::before,
    &::after {
      content: none;
    }
  }

  .swiper-button-prev {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAYCAMAAAAS21dbAAAAPFBMVEUAAAAQEBAICAgQEBALCwsNDQ0NDQ0ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4NDQ0ODg4ODg4ODg4ODg4uZleOAAAAE3RSTlMAECAgMF9gb3B/gI+Qn6Cvz9/vRdz7ewAAAFtJREFUeNqV0MUBAzEQBME9Ztjr/HP1U22251cjVpTUySi2yVmJF4fYw6bJI0zi/MRB3KErqg6uVjxJMZJs4oPrU4X2Uxbow5lg/rPoYBX1H/q+s4mn/3QxxFNu5hUE0JJtjp4AAAAASUVORK5CYII=);
    background-position: 47% 48%;
  }

  .swiper-button-next {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAYCAMAAAAS21dbAAAAPFBMVEUAAAAQEBAICAgQEBALCwsNDQ0NDQ0ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4NDQ0ODg4ODg4ODg4ODg4uZleOAAAAE3RSTlMAECAgMF9gb3B/gI+Qn6Cvz9/vRdz7ewAAAFpJREFUeNqVkLUBwDAMBMNskG//XdOaQZX4YUrjXILyQoLGagkbs8FtwckHe9B44B5sHPAGjc1h5oCIYJewgVTqTbBz8d8O2jcBHq+8k/LySgVH0Y/ZIlvRzx9TxQTQHIEtKAAAAABJRU5ErkJggg==);
    background-position: 53% 48%;
  }

  .swiper-pagination {
    position: static;
    width: auto;
    font-size: 18px;
    color: #0E0E0E;
  }

  &_fw {
    .swiper {
      overflow: unset;
    }

    .swiper-slide {
      width: auto;
      height: auto;
      display: flex;
      max-width: 100%;

      a {
        display: flex;
      }

      img {
        display: block;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.news {
  &__item {
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #D6D6DF;
    padding: 26px 34px;
    display: flex;
    flex-direction: column;
    transition: all .35s;

    &-title {
      font-weight: 600;
      font-size: 18px;
      color: #272727;
      margin-bottom: 18px;
      overflow: hidden;
      display: flex;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      transition: color .35s;
      height: 70px;
      align-items: center;

      @media screen and (max-width: 390px) {
        font-size: 16px;
        height: 60px;
      }
    }

    &-text {
      color: #949494;
      margin-bottom: 34px;
      padding-top: 18px;
      position: relative;

      @media screen and (max-width: 390px) {
        font-size: 14px;
        margin-bottom: 24px;
      }

      &::after {
        content: '';
        display: block;
        width: calc(100% + 30px);
        height: 1px;
        background-color: #D6D6DF;
        position: absolute;
        top: 0;
        left: -15px;
      }
    }

    &-date {
      margin-top: auto;
    }

    &:hover {
      text-decoration: none;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

      .news__item-title {
        color: $color_accent;
      }
    }
  }

  &_slider {
    .swiper-slide {
      height: auto;
      display: flex;
    }
  }

  &_list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;

    @media screen and (max-width: 690px) {
      margin-left: 0;
      margin-right: 0;
    }

    .news__item {
      width: calc(25% - 32px);
      margin: 0 16px 32px;

      @media screen and (max-width: 1350px) {
        width: calc(33.33% - 32px);
      }

      @media screen and (max-width: 950px) {
        width: calc(50% - 32px);
      }

      @media screen and (max-width: 690px) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

.question-block {
  color: #ffffff;
  background-image: url(../img/bg_question-block.jpg);
  background-position: 0 50%;
  background-size: cover;

  padding: 96px 120px 96px 34%;

  @media screen and (max-width: 1450px) {
    padding-right: 60px;
  }

  @media screen and (max-width: 1350px) {
    padding-top: 66px;
    padding-bottom: 66px;
  }

  @media screen and (max-width: 1250px) {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 420px;
  }

  @media screen and (max-width: 1100px) {
    background-position: -150px 50%;
    padding-left: 300px;
  }

  @media screen and (max-width: 990px) {
    padding-right: 30px;
    background-position: -280px 50%;
    padding-left: 180px;
  }

  @media screen and (max-width: 790px) {
    background-position: 100% 50%;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media screen and (max-width: 470px) {
    background-image: url(../img/bg_question-block_s.jpg);
    background-position: 50% 0;
    padding-top: 210px;
  }
  @media screen and (max-width: 414px) {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    //width: calc(100% + 30px);
  }

  &__title {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 3px;
  }

  &__subtitle {
    margin-bottom: 35px;
  }

  &__form {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1250px) {
      flex-wrap: wrap;
    }

    .form__item {
      margin-right: 30px;
      flex-grow: 1;
      @media screen and (max-width: 1250px) {
        width: calc(50% - 15px);
        flex-grow: 0;
      }
      @media screen and (max-width: 790px) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 24px;
      }

      &:nth-child(2) {
        @media screen and (max-width: 1250px) {
          margin-right: 0;
        }
      }
    }

    .form__actions {
      width: 240px;
      @media screen and (max-width: 1350px) {
        width: 210px;
      }
      @media screen and (max-width: 1250px) {
        width: calc(50% - 15px);
        margin-top: 20px;
      }

      @media screen and (max-width: 790px) {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
      }

      @media screen and (max-width: 590px) {
        width: 100%;
      }

      .btn {
        width: 100%;
      }
    }
  }
}

.form {
  &__item {
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="password"] {
      display: block;
      width: 100%;
      background-color: #ffffff;
      border-radius: 2px;
      color: $color_base;
      font-size: 16px;
      border: 0;
      padding: 19px 16px 20px;
      transition: background-color .25s;

      &:focus,
      &:active {
        outline: none;
        background-color: $color_light;
      }

      &::placeholder {
        color: #7D7D7D;
      }
    }
  }
}

.breadcrumbs {
  padding: 35px 0 28px;
  color: #949494;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  li {
    margin-bottom: 7px;
    margin-right: 35px;
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 5px;
      height: 10px;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAVCAMAAABFcv+GAAAAG1BMVEUAAACPj4+Pj4+SkpKVlZWTk5OUlJSTk5OUlJQYdQm0AAAACHRSTlMAECBwf4C/34kf/e4AAAAvSURBVHjaY2BgYGRAACZ2FgSHmYMDicdKcx4bBweczcLBwUptNjOIjfApnI0SBgDuOgHB54BFhwAAAABJRU5ErkJggg==);
      top: 50%;
      margin-top: -5px;
      left: calc(100% + 15px);
    }

    &:last-child::after {
      content: none;
    }
  }

  span {
    cursor: default;
  }
}

.page {
  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.25;
    color: #272727;
    margin-top: 0;
    margin-bottom: 40px;
    display: flex;
    align-items: center;

    @media screen and (max-width: 550px) {
      font-size: 20px;
    }

    &::after {
      content: '';
      display: inline-block;
      width: 1px;
      height: 1px;
      background-color: #D6D6DF;
      margin-left: 16px;
      flex-grow: 1;
      flex-shrink: 0;

      @media screen and (max-width: 550px) {
        content: none;
      }
    }
  }

  &__content {

  }

  &__inner-head {
    padding-bottom: 28px;
    border-bottom: 1px solid #D6D6DF;
    margin-bottom: 44px;
    .page__title {
      margin-bottom: 12px;
      &::after {
        content: none;
      }
    }
  }

  &__date {
    color: $color_accent;
  }
}

.typography {
  font-weight: 500;
  line-height: 1.285;

  &_maxwidth {
    max-width: 1040px;
  }

  p {
    margin-bottom: 15px;
    margin-top: 0;
  }

  h1 {
    margin-top: 0;
    font-weight: 800;
    font-size: 40px;
  }

  h2 {
    margin-top: 0;
    font-weight: 700;
    font-size: 30px;
  }

  h3 {
    margin-top: 0;
    font-weight: 700;
    font-size: 25px;
  }

  h4 {
    margin-top: 0;
    font-weight: 700;
    font-size: 20px;
  }

  h5 {
    margin-top: 0;
    font-weight: 700;
    font-size: 18px;
  }

  h4, h5 {
    margin-top: 1.5em;
    margin-bottom: 15px;
  }

  a {
    color: $color_accent;
    font-weight: 600;
  }

  li {
    margin-bottom: 12px;
  }

  ul {
    list-style: none;
    padding: 0 0 0 6px;
    margin-bottom: 40px;

    li::before {
      content: '';
      background-color: $color_accent;
      display: inline-block;
      vertical-align: middle;
      margin-right: 12px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }
  }

  .columns {
    column-count: 2;
    column-gap: 32px;
    margin-bottom: 70px;
    @media screen and (max-width: 1000px) {
      column-count: 1;
    }
  }
}

.block-img-text {
  display: flex;
  align-items: center;
  margin-bottom: 50px;

  @media screen and (max-width: 991px) {
    display: block;
    margin-bottom: 40px;
  }
  @media screen and (max-width: 550px) {
    margin-bottom: 30px;
  }

  &__img {
    flex-shrink: 0;
    width: calc(50% - 36px);
    margin-right: 36px;

    @media screen and (max-width: 991px) {
      width: 100%;
      max-width: 460px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 30px;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.tag {
  font-size: 20px;
  font-weight: 500;
  padding: 6px 54px;
  border-radius: 20px;
  display: inline-block;
  margin-right: 24px;

  @media screen and (max-width: 390px) {
    padding-left: 24px;
    padding-right: 24px;
  }

  &_red {
    color: #ffffff;
    background-color: $color_accent_2;
  }
}

.docs-list {
  display: flex;
  flex-wrap: wrap;
  color: $color_dark;
  margin: 50px -16px;

  @media screen and (max-width: 550px) {
    margin: 36px 0;
  }

  .docs-list__item {
    border: 1px solid #D6D6DF;
    border-radius: 10px;
    text-align: center;
    color: inherit;
    padding: 50px 32px 36px;
    transition: box-shadow .4s, color .4s;
    display: flex;
    flex-direction: column;

    width: calc(25% - 32px);
    margin: 0 16px 32px;

    @media screen and (max-width: 1350px) {
      width: calc(33.33% - 32px);
    }

    @media screen and (max-width: 950px) {
      width: calc(50% - 32px);
    }

    @media screen and (max-width: 750px) {
      padding: 30px 16px 20px;
    }

    @media screen and (max-width: 550px) {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      max-width: 360px;
    }


    &:hover {
      text-decoration: none;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      color: $color_accent;
    }

    &-name {
      margin-bottom: 30px;

      @media screen and (max-width: 750px) {
        margin-bottom: 18px;
      }
    }
    &-img {
      margin-top: auto;

      img {
        max-width: 100%;
        height: auto;
        display: block;
        border: 1px solid #D6D6DF;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &_fimg {
    .docs-list__item {
      padding-bottom: 0;
      padding-top: 24px;
    }
    .docs-list__item-name {
      max-height: 62px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      margin-top: auto;
      margin-bottom: auto;
    }
    .docs-list__item-img {
      border: 0;
      border-radius: 0 0 10px 10px;
      height: 400px;
      margin-left: -32px;
      margin-right: -32px;
      margin-top: 32px;

      @media screen and (max-width: 750px) {
        margin-left: -16px;
        margin-right: -16px;
        height: 340px;
      }

      @media screen and (max-width: 550px) {
        height: 280px;
      }


      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 0 0 10px 10px;
      }
    }
  }
}

.pagination {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;

  &__counter {
    margin-left: 16px;
    margin-right: 16px;
    user-select: none;
  }

  &__button {
    border: 1px solid #0E0E0E;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    font-size: 0;
    transition: opacity .25s;
    background-repeat: no-repeat;
    background-size: 8px auto;
    background-position: 50% 50%;

    &:hover {
      opacity: .7;
    }

    &_disabled {
      opacity: .45;
      pointer-events: none;
      cursor: default;
    }

    &_prev {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAYCAMAAAAS21dbAAAAPFBMVEUAAAAQEBAICAgQEBALCwsNDQ0NDQ0ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4NDQ0ODg4ODg4ODg4ODg4uZleOAAAAE3RSTlMAECAgMF9gb3B/gI+Qn6Cvz9/vRdz7ewAAAFtJREFUeNqV0MUBAzEQBME9Ztjr/HP1U22251cjVpTUySi2yVmJF4fYw6bJI0zi/MRB3KErqg6uVjxJMZJs4oPrU4X2Uxbow5lg/rPoYBX1H/q+s4mn/3QxxFNu5hUE0JJtjp4AAAAASUVORK5CYII=);
      background-position: 46% 46%;
    }

    &_next {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAYCAMAAAAS21dbAAAAPFBMVEUAAAAQEBAICAgQEBALCwsNDQ0NDQ0ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4NDQ0ODg4ODg4ODg4ODg4uZleOAAAAE3RSTlMAECAgMF9gb3B/gI+Qn6Cvz9/vRdz7ewAAAFpJREFUeNqVkLUBwDAMBMNskG//XdOaQZX4YUrjXILyQoLGagkbs8FtwckHe9B44B5sHPAGjc1h5oCIYJewgVTqTbBz8d8O2jcBHq+8k/LySgVH0Y/ZIlvRzx9TxQTQHIEtKAAAAABJRU5ErkJggg==);
      background-position: 54% 44%;
    }
  }
}

.img {
  &_fw {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 42px;
  }
}

.graduates {
  margin-top: 44px;
  &__item {
    border: 1px solid #D6D6DF;
    border-radius: 10px;
    padding: 36px 46px 40px;
    &-name {
      color: #0E0E0E;
      font-weight: 600;
      margin-bottom: 12px;
      font-size: 18px;
    }
    &-position {
      font-weight: 400;
    }
  }
}

.article {
  margin-bottom: 80px;
  &__img {
    width: 630px;
    max-width: 100%;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    float: left;
    margin-right: 50px;
    margin-bottom: 50px;

    @media screen and (max-width: 1100px) {
      float: none;
      margin-right: auto;
      margin-left: auto;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      max-height: 420px;
      object-fit: cover;
    }
    span {
      display: block;
      background-color: $color_accent;
      padding: 26px;

      @media screen and (max-width: 990px) {
        font-size: 15px;
        padding: 18px;
      }
    }
  }

  &__body {

  }
}